/* resets */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Orbitron", sans-serif;
  color: #ecf0f1;
  font-size: 1em;
  padding-top: 5px;
  background-color: #0d1117;
}

html {
  scroll-behavior: smooth;
}

/* variáveis */

:root {
  --global-espaçamento: 0.2rem;
  --densidadeFonte: 600;
}

/* === GLOBAL - HEADER === */
.site-header {
  height: 105px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background-color: rgba(13, 17, 23, 0.7);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 2px 10px rgba(0, 255, 171, 0.3);
}

/* === LOGO | HEADER === */
.site-logo {
  color: #58a6ff;
  font-size: 3.5rem;
  cursor: pointer;
  letter-spacing: var(--global-espaçamento);
  font-weight: var(--densidadeFonte);
}
.site-logo span {
  color: #00ffab;
}
/* === MENU | HEADER=== */
.nav-list {
  display: flex;
  flex-wrap: wrap;
}
.nav-list li a {
  font-size: 0.9rem;
  color: #58a6ff;
  transition: color 0.3s ease;
  text-decoration: none;
  position: relative;
  margin: 0.8rem;
  font-weight: var(--densidadeFonte);
  letter-spacing: var(--global-espaçamento);
}
.nav-list li a:hover {
  color: #00ffab;
  text-shadow: 0 0 8px #00ffab;
}
.nav-list li a::after {
  content: " ";
  width: 0%;
  height: 4px;
  border-radius: 30px;
  background-color: #00ffab;
  position: absolute;
  top: 20px;
  left: 0;
  bottom: 0;
  transition: 1s ease-in-out;
}
.nav-list li a:hover::after {
  width: 100%;
}
/* === END === */

/* === SEÇÃO INTRO === */
.intro-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  padding: 9rem 6rem 3rem 6rem;
  background: url(/img/10.jpg) center/cover no-repeat;
  position: relative;
  flex-wrap: wrap;
}
.intro-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(13, 17, 23, 0.7); /* sobreposição escura */
  z-index: 0;
}
.intro-content {
  max-width: 100%;
  position: relative;
  z-index: 1;
}
.intro-content h1 {
  color: #ffff;
  letter-spacing: var(--global-espaçamento);
  font-size: 3rem;
  text-transform: uppercase;
}
.intro-content span {
  color: #00ffab;
  text-shadow: 0 0 8px rgba(0, 255, 171, 0.3);
}
.intro-content h2 {
  color: #58a6ff;
  letter-spacing: var(--global-espaçamento);
  font-size: 1.3rem;
  margin-bottom: 1.9rem;
}

.intro-content h3 {
  font-size: 2rem;
  /* letter-spacing: var(--densidadeFonte); */
  color: #00ffab;
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 100;
}
.form {
  width: 100%;
  max-width: 370px;
}
.form label {
  display: block;
  margin-bottom: 0.5rem;
  color: #ecf0f1;
}
.form-inline {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.form-inline label {
  white-space: nowrap; /* impede quebra de linha */
  margin-right: 0.5rem;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  text-align: left;
}
.form-inline input[type="email"] {
  flex: 1;
  padding: 0.8rem 6rem 0.8rem 1rem;
  border-radius: 2rem;
  border: none;
}
.btn-intro {
  position: absolute;
  font-size: 1rem;
  top: 50%;
  right: 0.4rem;
  transform: translateY(-50%);
  padding: 0.5rem 1.2rem;
  border-radius: 2rem;
  background-color: #00ffab;
  color: #fff;
  font-weight: var(--densidadeFonte);
  letter-spacing: var(--global-espaçamento);
  border: none;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 255, 171, 0.25);
  transition: 0.3s ease;
}
.btn-intro:hover {
  background-color: transparent;
  color: #fff;
  /* border: 1px solid #00ffab; */
  box-shadow: 0 0 16px rgba(0, 255, 171, 0.4);
  background-color: #0300af;
}

.intro-image {
  display: flex;
  justify-content: right;
  align-items: center;
  max-width: 100%;
}
.foto {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 1rem;
  filter: drop-shadow(0 0 8px #00ffab);
  border-radius: 50%;
  background-color: transparent;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0px);
  }
}
