/* resets */

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  list-style: none;
}

body {
  font-family: "Orbitron", sans-serif;
  color: #ecf0f1;
  font-size: 1em;
  padding-top: 5px;
  background-color: #0d1117;
}

html {
  scroll-behavior: smooth;
}

/* variáveis */

:root {
  --global-espaçamento: 0.2rem;
  --densidadeFonte: 600;
}

/* === GLOBAL - HEADER === */
.site-header {
  height: 105px;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  background-color: rgba(13, 17, 23, 0.7);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(10px);
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 2px 10px rgba(0, 255, 171, 0.3);
}

/* === LOGO | HEADER === */
.site-logo {
  color: #58a6ff;
  font-size: 3.5rem;
  cursor: pointer;
  letter-spacing: var(--global-espaçamento);
  font-weight: var(--densidadeFonte);
}
.site-logo span {
  color: #00ffab;
}
/* === MENU | HEADER=== */
.nav-list {
  display: flex;
  flex-wrap: wrap;
}
.nav-list li a {
  font-size: 0.9rem;
  color: #58a6ff;
  transition: color 0.3s ease;
  text-decoration: none;
  position: relative;
  margin: 0.8rem;
  font-weight: var(--densidadeFonte);
  letter-spacing: var(--global-espaçamento);
}
.nav-list li a:hover {
  color: #00ffab;
  text-shadow: 0 0 8px #00ffab;
}
.nav-list li a::after {
  content: " ";
  width: 0%;
  height: 4px;
  border-radius: 30px;
  background-color: #00ffab;
  position: absolute;
  top: 20px;
  left: 0;
  bottom: 0;
  transition: 1s ease-in-out;
}
.nav-list li a:hover::after {
  width: 100%;
}
/* === END === */

/* === SEÇÃO INTRO === */
.intro-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  padding: 9rem 6rem 3rem 6rem;
  background: url(/img/10.jpg) center/cover no-repeat;
  position: relative;
  flex-wrap: wrap;
}
.intro-section::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(13, 17, 23, 0.7); /* sobreposição escura */
  z-index: 0;
}
.intro-content {
  max-width: 100%;
  position: relative;
  z-index: 1;
}
.intro-content span {
  color: #00ffab;
  text-shadow: 0 0 8px rgba(0, 255, 171, 0.3);
}
.intro-content h2 {
  color: #58a6ff;
  letter-spacing: var(--global-espaçamento);
  font-size: 1.3rem;
  margin-bottom: 1.9rem;
}
.intro-content h1 {
  color: #ffff;
  letter-spacing: var(--global-espaçamento);
  font-size: 3rem;
  text-transform: uppercase;
}
.intro-content h3 {
  font-size: 2rem;
  color: #00ffab;
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
  font-weight: 100;
}
.form {
  width: 100%;
  max-width: 370px;
}
.form label {
  display: block;
  margin-bottom: 0.5rem;
  color: #ecf0f1;
}
.form-inline {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
}
.form-inline label {
  white-space: nowrap; /* impede quebra de linha */
  margin-right: 0.5rem;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  text-align: left;
}
.form-inline input[type="email"] {
  flex: 1;
  padding: 0.8rem 6rem 0.8rem 1rem;
  border-radius: 2rem;
  border: none;
}
.btn-intro {
  position: absolute;
  font-size: 1rem;
  top: 50%;
  right: 0.4rem;
  transform: translateY(-50%);
  padding: 0.5rem 1.2rem;
  border-radius: 2rem;
  background-color: #00ffab;
  color: #fff;
  font-weight: var(--densidadeFonte);
  letter-spacing: var(--global-espaçamento);
  border: none;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 255, 171, 0.25);
  transition: 0.3s ease;
}
.btn-intro:hover {
  background-color: transparent;
  color: #fff;
  /* border: 1px solid #00ffab; */
  box-shadow: 0 0 16px rgba(0, 255, 171, 0.4);
  background-color: #0300af;
}
/* === IMAGEM: SEÇÃO INTRO === */
.intro-image {
  display: flex;
  justify-content: right;
  align-items: center;
  max-width: 100%;
}
.foto {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 1rem;
  filter: drop-shadow(0 0 8px #00ffab);
  border-radius: 50%;
  background-color: transparent;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0px);
  }
}

/* === SECTION: SOBRE === */
.section-sobre {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 3rem 5rem 3rem 5rem;
  position: relative;
  /* background: url(/img/e.webp) no-repeat center center; */
  /* background: url(../img/bg-1.jpg) no-repeat cover center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* background: linear-gradient(135deg, #0d1117, #1f2937);   */
  /* scroll-margin-top: 100px; */
  /* box-sizing: border-box; */
  /* z-index: 1; */
  /* clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%); */
}
.section-sobre::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(13, 17, 23, 0.85);
  z-index: -1;
}
.image-content {
  width: 100%;
  height: auto;
}
.sobre-text {
  width: 100%;
  padding: 1rem;
  max-width: none;
  height: auto;
}
.image-sobre {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 50%;
  transform: translateY(0px);
  animation: float 4s ease-in-out infinite;
}

.sobre-text h2 {
  color: #00ffab;
  font-size: 2.2rem;
  letter-spacing: var(--global-espaçamento);
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.sobre-text h5 {
  color: #00ffab;
  letter-spacing: var(--global-espaçamento);
  font-size: 1rem;
  margin-bottom: 1rem;
  text-transform: capitalize;
}
.sobre-text p {
  color: #ecf0f1;
  letter-spacing: var(--global-espaçamento);
  font-size: 0.9rem;
  margin-bottom: 2rem;
  line-height: 1.5rem;
  text-align: left;
}
.btn-sobre {
  background-color: #00ffab;
  color: #0d1117;
  padding: 13px 20px;
  border: solid 1px transparent;
  border-radius: 30px;
  transition: 2s;
  font-size: 1rem;
  font-weight: var(--densidadeFonte);
}
.btn-sobre:hover {
  background-color: transparent;
  border: 1px solid #00ffab;
  color: #ecf0f1;
  cursor: pointer;
  font-weight: bold;
}
/* === END === */

/* === SECTION: SERVIÇOS === */
.serviços-container {
  background-color: #1f2937;
  padding: 1rem 5rem 4rem 5rem;
  box-sizing: border-box;
}
.title-h2 {
  color: #cbd5e1;
  margin-top: 3rem;
  margin-bottom: 0rem;
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  transition: all 0.3s ease;
  position: relative;
}
.title-h2:hover {
  color: #00ffab;
  transform: scale(1.05);
}
.title-h2::after {
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #00ffab;
  margin: 0.5rem auto 0;
  border-radius: 2px;
  box-shadow: 0 0 10px #00ffab;
  transform: scale(1.05);
}
.title-h2:hover::after {
  transform: scale(1.2);
  box-shadow: 0 0 10px #00ffab;
}
.serviços {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #1f2937;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 2rem;
}
.card {
  background-color: #0d1117;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: 0 0 15px rgba(0, 255, 171, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  color: #cbd5e1;
  min-height: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px #00ffab;
  /* border: 0.1rem solid #00ffab; */
}
.card i {
  color: #00ffab;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.card h2 {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.3rem;
  margin-bottom: 1rem;
  color: #58a6ff;
  letter-spacing: 0.2rem;
}
.card p {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #cbd5e1;
  margin-bottom: 1.5rem;
  letter-spacing: 0.2rem;
  text-align: left;
}
section.card:first-child {
  margin-left: 0;
}
.btn-card {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 2rem;
  background-color: #00ffab;
  color: #0d1117;
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0 0 10px #00ffab;
  transition: 0.3s ease;
  border: solid 1px transparent;
  box-shadow: 0 0 10px rgba(0, 255, 171, 0.2);
  font-weight: var(--densidadeFonte);
  margin-top: auto;
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;
  width: fit-content;
}
.btn-card:hover {
  background-color: transparent;
  color: #cbd5e1;
  border: solid 1px #00ffab;
  box-shadow: 0 0 20px rgba(0, 255, 171, 0.4);
}
/* === END === */

/* === SECTION: CONTATE-ME === */
.contate-container {
  padding: 2rem;
  text-align: center;
}
.me-contate {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 3rem;
  max-width: 700px;
  border-top: 1px solid rgba(0, 255, 171, 0.2);
  border-bottom: 1px solid rgba(0, 255, 171, 0.2);
}
.me-contate h2 {
  color: #cdb;
  padding-top: 2rem;
  padding-bottom: 1rem;
  font-weight: var(--densidadeFonte);
  letter-spacing: var(--global-espaçamento);
}
.me-contate p {
  color: #cbd5e1;
  font-size: 1rem;
  margin-bottom: 0rem;
  font-weight: var(--densidadeFonte);
  letter-spacing: 0.2rem;
  text-align: justify;
}
.btn-contate {
  background-color: #00ffab;
  color: black;
  padding: 12px 24px;
  border: solid 1px transparent;
  /*box-shadow: 5px 5px 8px rgba(249, 0, 77, 0.250);*/
  box-shadow: 4px 4px 8px rgba(255, 255, 255, 0.25);
  border-radius: 30px;
  font-weight: 400;
  transition: 2s;
  letter-spacing: 0.2rem;
  display: inline-block;
  margin-bottom: 2rem;
  margin-top: 3rem;
}
.btn-contate:hover {
  background-color: transparent;
  border: solid 1px #00ffab;
  transform: scale(1);
  color: #ffffff;
  letter-spacing: 0.2rem;
}
/* === END === */

/* === SECTION: FOOTER === */
footer {
  background-color: #1f2937;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}
footer h6 {
  font-size: 2.5rem;
  color: #cbd5e1;
  letter-spacing: var(--global-espaçamento);
}
footer p {
  color: #cbd5e1;
  font-size: 1rem;
  text-align: center;
  margin-top: 10px;
  letter-spacing: var(--global-espaçamento);
}
.redes-sociais {
  display: flex;
}
.redes-sociais a {
  padding: 15px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50px;
  color: #fff;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin: 20px 10px;
  text-decoration: none;
  transition: 1s;
}
.redes-sociais a:hover {
  transform: scale(1.2);
}
.redes-sociais .fa-whatsapp {
  color: #34af23;
}
.redes-sociais .fa-instagram {
  color: #c13584;
}
.redes-sociais .fa-facebook {
  color: #3b5998;
}
.redes-sociais .fa-linkedin {
  color: #007bb6;
}
.end p {
  color: #00ffab;
  font-size: 20px;
  margin-top: 30px;
}

/* * {
  outline: 1px solid limegreen;
} */

@media (max-width: 768px) {
  /* === MENU HEADER === */
  @media (max-width: 768px) {
    .site-header {
      flex-direction: column;
      height: auto;
      padding: 1;
    }
    .site-logo {
      font-size: 2rem;
      letter-spacing: 0.2rem;
    }
    .nav-list {
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
    }
    @media (max-width: 480px) {
      .site-logo {
        font-size: 2rem;
        letter-spacing: 0.1rem;
      }
      .nav-list li a {
        font-size: 0.9rem;
      }
    }
    /* === END === */

    /* === INTRO SECTION === */
    @media (max-width: 768px) {
      .intro-section {
        flex-direction: column;
        align-items: center;
        padding: 100px 1.5rem 40px;
        text-align: center;
        padding-top: 14rem;
      }
      .intro-content {
        align-items: center;
        text-align: center;
        width: 100%;
        max-width: 500px;
        padding: 0;
      }
      .intro-content h1,
      .intro-content h2,
      .intro-content h3 {
        width: auto;
        margin: 0.5rem 0;
      }
      .intro-content h1 {
        font-size: 2.5rem;
        margin-bottom: 0rem;
      }
      .intro-content h3 {
        font-size: 1.2rem;
      }
      .intro-image {
        justify-content: center;
        width: 100%;
        margin-top: 2rem;
      }
      @media (max-width: 480px) {
        .intro-image {
          display: none;
        }
      }
      .foto {
        width: 12rem;
        height: 12rem;
      }
      .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 1.5rem;
        font-size: 1rem;
      }
      .form input[type="email"],
      .btn-intro {
        width: 100%;
        max-width: 300px;
        margin-bottom: 1rem;
      }
      .btn-intro {
        position: static;
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
        padding: 12px;
        font-size: 1.2rem;
        align-items: center;
      }
      /* === END === */

      /* === SECTION SOBRE === */
      .section-sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem 1.5rem;
        text-align: center;
      }
      .image-content {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
        display: none;
      }
      .image-sobre {
        width: 12rem;
        height: 12rem;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 0 0 15px rgba(0, 255, 171, 0.7);
      }
      .sobre-text {
        width: 100%;
        max-width: 600px;
      }
      .sobre-text h2 {
        font-size: 2rem;
        margin-bottom: 0.5rem;
      }
      .sobre-text h5 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
      .sobre-text p {
        font-size: 1rem;
        line-height: 1.6;
        margin-bottom: 1.5rem;
        text-align: justify;
        padding: 1rem;
      }

      .btn-sobre {
        padding: 12px 24px;
        font-size: 1rem;
        border-radius: 30px;
        background-color: #00ffab;
        color: #fff;
        border: none;
        cursor: pointer;
        box-shadow: 0 0 10px #00ffab;
      }
      /* === END === */

      /* === SECTION SERVIÇOS === */
      .serviços-container {
        text-align: center;
        padding: 2rem 1rem;
      }
      .title-h2 {
        font-size: 2rem;
        margin-bottom: 2rem;
      }
      .serviços {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
      }
      .card {
        width: 100%;
        max-width: 400px;
        padding: 1.5rem;
        box-shadow: 0 0 10px rgba(0, 255, 171, 0.2);
        border-radius: 10px;
        background-color: #111827;
      }
      .card h2 {
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }
      .card p {
        font-size: 1rem;
        line-height: 1.6;
        margin-bottom: 1rem;
      }
      .btn-card {
        padding: 10px 20px;
        font-size: 1rem;
        border-radius: 30px;
        background-color: #00ffab;
        color: #fff;
        border: none;
        cursor: pointer;
        box-shadow: 0 0 10px #00ffab;
      }
      .me-contate P {
        padding: 1rem 0.6rem 0rem;
        font-size: 1.5rem;
        text-align: center;
      }
    }

    .btn-card {
      padding: 10px 20px;
      font-size: 1rem;
      border-radius: 30px;
      background-color: #00ffab;
      color: #fff;
      border: none;
      cursor: pointer;
      box-shadow: 0 0 10px #00ffab;
    }
  }
}
